@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600);
@import url(http://fonts.googleapis.com/css?family=Lato:100);

*
{
  box-sizing        : border-box;
  -moz-box-sizing   : border-box;
}

html, body
{
  margin            : 0;
  padding           : 0;
  height            : 100%;
}

body
{
  font-size         : 30px;
  color             : #000000;
  font-family       : 'Source Sans Pro', 'Helvetica Neue', HelveticaNeue, Helvetica, sans-serif;
  font-weight       : 100;
  font-size         : 1em;
  line-height       : 0.9em;
  background        : #ffffff;
}

h1, #menu
{
  margin            : 0;
  font-family       : 'Lato';
  font-weight       : 100;
  text-transform    : uppercase;
  font-size         : 1em;
  line-height       : 0.9em;
}

h2, h3, h4, h5
{
  margin            : 0;
  font-weight       : 100;
  font-size         : 1em;
  line-height       : 0.9em;
  color             : #222222;
}

h2 strong
{
  font-weight       : 600;
  color             : rgba(0,0,0,0.4)
}

a
{
  color             : inherit;
  text-decoration   : none;
}

a:hover,
a:focus,
a.active
{
  outline           : none;
/*  border-bottom       : 3px solid rgba(0,0,0,0.15); */
}

header,
footer
{
  display           : none;
}

section
{
  overflow          : hidden;
  position          : relative;
  width             : 100%;
  min-height        : 100%;
}

section > div
{
  overflow          : hidden;
  width             : 100%;
  height            : 100%;
  padding           : 50px 60px;
}

section.home
{
  /*background-color  : #e84c3d;*/
  display           : table;
}

section.home .top
{
  display           : table-cell;
  height            : auto;
  vertical-align    : middle;
  text-align        : center;
}

section.home h2
{
  padding-top       : 25px;
}

section.work
{
  /*background-color  : #16a086;*/
  background-color  : #f8f8f8; 
}

section.contact
{
  /*background-color  : #34495e;*/
}

@media only screen and (min-width: 768px)
{
  body
  {
  }

  #highlight
  {
    position        : fixed;
    top             : -10px;
    right           : 0px;
    width           : 100px;
    height          : 3px;
    background      : rgba(0,0,0,0.15);

    opacity         : 0;
  }

  header
  {
    display         : block;
    overflow        : hidden;
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    padding         : 50px 60px;
    z-index         : 9999;
  }

  header #menu
  {
    float           : right;
    margin          : 0;
    padding         : 0;
    list-style      : none;
  }

  header #menu li
  {
    display         : inline-block;
    margin-left     : 25px;
  }

  section
  {
    height          : 100%;
  }
}