*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #dddddd;
}

body {
  margin: 3vw;
  background: white;
  font-family: 'Source Sans Pro', 'Helvetica Neue', HelveticaNeue, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 5vw;
  line-height: 1;
  color: #222222;
  box-shadow: 0 3px 15px rgba(0,0,0,0.15);
}

@media (min-width: 400px) {
  body {
    font-size: 4vw;
  }
}

@media (min-width: 500px) {
  body {
    font-size: 3.5vw;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 3vw;
  }
}

@media (min-width: 700px) {
  body {
    font-size: 2.5vw;
  }
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

p {
  margin: 0;
}

header, section {
  padding: 5vw;
}

section + section {
  padding-top: 0;
}

header {
  background-color: #222222;
  background-image: url('../img/background.jpg');
  background-position: center;

  color: #dddddd;
  text-align: center;
}

section {
  max-width: calc(600px + 16vw);
  margin: 0 auto;
}

@media (min-width: 700px) {
  section {
    max-width: 80vw;
  }
}

section h1,
section h2 {
  padding-top: 0.5em;
}

section p, li {
  line-height: 1.5;
}

section * + p {
  margin-top: 1em;
}